In [4]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import json

In [50]:
uitkeringen = pd.read_csv('Uitkeringen_draft.csv', sep=";")
Provinciale_regionalegroei = pd.read_csv('Provinciale_regionalegroei_draft.csv', sep=';')
Provinciale_regionalegroei

      ID    RegioS  Perioden  BbpVolumemutaties_3
0    162  PV20      1995JJ00                  NaN
1    163  PV20      1996JJ00                  6.7
2    164  PV20      1997JJ00                  1.2
3    165  PV20      1998JJ00                  0.6
4    166  PV20      1999JJ00                  2.4
..   ...       ...       ...                  ...
319  481  PV31      2017JJ00                  2.6
320  482  PV31      2018JJ00                  1.5
321  483  PV31      2019JJ00                  1.1
322  484  PV31      2020JJ00                 -3.9
323  485  PV31      2021JJ00                  4.7

[324 rows x 4 columns]

In [51]:
uitkeringen = uitkeringen.drop(columns=["ID"])
Provinciale_regionalegroei = Provinciale_regionalegroei.drop(columns=["ID"])

Provinciale_regionalegroei

       RegioS  Perioden  BbpVolumemutaties_3
0    PV20      1995JJ00                  NaN
1    PV20      1996JJ00                  6.7
2    PV20      1997JJ00                  1.2
3    PV20      1998JJ00                  0.6
4    PV20      1999JJ00                  2.4
..        ...       ...                  ...
319  PV31      2017JJ00                  2.6
320  PV31      2018JJ00                  1.5
321  PV31      2019JJ00                  1.1
322  PV31      2020JJ00                 -3.9
323  PV31      2021JJ00                  4.7

[324 rows x 3 columns]

In [52]:
result = pd.concat([uitkeringen, Provinciale_regionalegroei], ignore_index=True, sort=False)

In [54]:
result.to_csv("bruh")